<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {},
                    spacing: {},
                }
            }
        }
    </script>
</head>
<body>

    <!-- edit customer -->
    <div class="bg-gray-200 p-4 m-4">
        <h1 class="text-2xl font-bold">Edit Customer</h1>
        <form action="/editcustomer/<%= customer._id %>" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="newname" class="p-2 m-2" >
            <button type="submit" class="bg-blue-500 text-white p-2 m-2">Edit Customer</button>
        </form>
    </div>

    

    <a href="/customers"><button class="bg-blue-500 text-white p-2 m-2">Back</button></a>


    
</body>
</html>