<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoneyMate - Your stress-free solution for group expenses.</title>
    <link rel="shortcut icon" href="/public/images/Fevicon/one.jpeg" type="image/x-icon">

</head>
<body>
    <a href="/registration"><button type="submit">Registration</button></a>
    <a href="/login"><button type="submit">Login</button></a>
</body>
</html>