<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoneyMate - Your stress-free solution for group expenses.</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex flex-col gap-6 justify-center items-center m-auto mt-52 mb-52">
    <form class="flex flex-col gap-6" action="/verify-otp" method="post">
        <div class="flex m-auto justify-center items-center gap-2">
            <h3>Email : </h3>
            <input class="border-2 border-black rounded-md p-1 " name="email" value="<%= email %>" readonly>
            <!-- <h3 class="border-2 border-black rounded-md p-1 " ><%= email %></h3> -->
        </div>
        <input class="border-2 border-black rounded-md p-1" type="text" name="otp" id="otp" placeholder="Enter OTP" required>
        <button class="p-1 border-2 border-black rounded-lg w-40 m-auto bg-blue-400" type="submit">Verify OTP</button>
    </form>

    <div class="m-auto">
        <!-- error -->
        <% if (typeof error !== 'undefined') { %>
            <p class="text-red-500"><%= error %></p>
        <% } %>
        <!-- success -->
        <% if (typeof success !== 'undefined') { %>
            <p class="text-green-500"><%= success %></p>
        <% } %>
    </div>
    </div>
</body>
</html>