<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoneyMate - Your stress-free solution for group expenses.</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="/public/images/Fevicon/one.jpeg" type="image/x-icon">

</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
        <h3 class="text-3xl underline mb-5">Enter your OTP</h3>
        <form autocomplete="off" action="/verifyotp" method="post" class="mb-5">
            <input type="hidden" name="email" value="<%= email %>">
            <input class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800" type="text" placeholder="OTP" name="otp">
            <input class="px-5 py-2 rounded-md bg-blue-500" type="submit" value="Verify OTP">
        </form>
    </div>
</body>
</html>
